$background: radial-gradient(farthest-side ellipse at 50% 0%, #434343, #1f1f21);
$text-color: rgba(244, 244, 245, 0.9);

$selector-line-color: #686868a1;
$selector-line-size: 1px;
$selector-knob-active-color: #dfdfdf;
$selector-knob-passive-color: #4d4d4d;
